@import "../../colors.scss";
.Note {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .Fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
  }
  .Field,
  .option {
    &:hover {
      .remove {
        display: block;
      }
    }
  }
  .Field {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }
  .remove {
    font-size: 0.875rem;
    color: $main_color;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
  .add {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $main_color;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }
  .option {
    display: flex;
    column-gap: 1rem;
    padding: 10px 0;
    align-items: center;
  }
}
